"*":
  "atom-beautify":
    html: {}
  core:
    telemetryConsent: "no"
  editor:
    fontFamily: "Noto Sans Mono"
    fontSize: 16
    tabLength: 4
  "exception-reporting":
    userId: "bc85c77e-29e3-48e7-ba37-aac86cc4ef20"
  welcome:
    showOnStartup: false
